<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--CSS----->

     <link rel="stylesheet" type="text/css" href="static/base-styling.css">
     <!--Icons-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
     <!--Font -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Staatliches&display=swap" rel="stylesheet"> 

     <!--Bootstrap-->

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"    crossorigin="anonymous" />

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
     
     <title>{% block title %}Base{% endblock %}</title>

    </head>


    <body >

       

    <nav>
        <header>
            <ol class="headerstyle">
                <li id="title"><h2><a id="title" href="\">SHOWTIME</a></h2></li>
                

                {% if user.is_authenticated %}
                
                <li class="logout"><a id ="logout" href="\logout">Logout</a></li>
                <li class="logout"><a id ="login">{{user.first_name}}</a></li>

                {% else %}

                <li class="login"><a id ="login" href="\login">LOGIN / SIGN UP</a></li>

                {% endif %}

                <li id="account"><i class="fa fa-user-circle " aria-hidden="true"></i></li>
                <br>
                
                
            </ol>
        </header>
    </nav>

    {% with messages = get_flashed_messages(with_categories = true) %}

    {% if messages %}
      {% for category,message in messages %}
      {% if category=='error' %}
      <div id="flashstyle-error"class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span class="close-btn" aria-hidden="=true">&times;</span>
        </button>
      </div>
      {% else  %}
      <div id="flashstyle-success" class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span  class="close-btn" aria-hidden="=true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}
   

    

   

   
 
<div class="content">

    

{%block content%}

{% endblock %}


</div>


<!--Bootstrap js-->


<script
src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"
></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"
></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"
></script>




 <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
  ></script>
</body>
</html>